<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Page</title>
</head>
<body>
    <h1>Notifications</h1>
    <ul>
        {{#each notifications}}
        <li>{{ this.message }} - {{ this.createdAt }}</li>
        {{/each}}
    </ul>
</body>
</html>
